* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  background: #f8f5e7;
  height: 100%;
  border-top: 5px solid #d4d1c5;
  border-bottom: 5px solid #d4d1c5;
  box-shadow: inset 0px 1px 1px #787871;
  font: 16px sans-serif;
}

#root {
  height: 100%;
}

.App {
  min-height: 100%;
  padding: 1rem;
}

.ability-scores {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.ability-scores-ui {
  flex-basis: 35%;
}

.ability-scores-desc {
  flex-basis: 30%;
}

.ability-scores-image {
  flex-basis: 35%;
}

.ui-panel {
}

.ability-scores-table {
  padding: 0;
  margin: 0;
}

.ability-scores-table td {
  border: 1px solid #d4d1c5;
  padding: 10px;
}

.ability-scores-table__ap {
  display: flex;
  justify-content: space-between;
  background: #fff;
  height: 2rem;
}

.ability-scores-table__ap-decrease,
.ability-scores-table__ap-increase {
  background: purple;
  color: #fff;
  border: none;
  width: 2rem;
  cursor: pointer;
}

.ability-scores-table__ap-decrease {
  border-radius: 3px 0 0 3px;
}

.ability-scores-table__ap-increase {
  border-radius: 0 3px 3px 0;
}

.ability-scores-table__ap-value {
  width: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #d4d1c5;
  border-bottom: 1px solid #d4d1c5;
  flex-shrink: 1;
  width: 100%;
}

.select-race-container {
  text-align: left;
}

.ability-pool {
  text-align: left;
}
